/RPi_PIC/nslave.X/nbproject/private/
/RPi_PIC/nslave.X/build/default/
/RPi_PIC/nslave.X/dist/default/
/RPi_PIC/nslaven.X/nbproject/private/
/RPi_PIC/nslaven.X/build/default/
/RPi_PIC/nslaven.X/dist/default/